fastapi
pydantic
ollama
huggingface_hub<0.24
numpy<2
wget
nemo_toolkit[asr]==2.0.0rc0
nltk
git+https://github.com/SYSTRAN/faster-whisper.git #Reaplce with 'faster-whisper==VERSION' once a new version with BatchedInferencePipeline is deployed to PYPI
git+https://github.com/MahmoudAshraf97/ctc-forced-aligner.git